@model SindosDbAppweb.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>ΔΙΑΓΡΑΦΗ</h1>

<h3>ΕΙΣΤΕ ΣΙΓΟΥΡΟΙ ΟΤΙ ΘΕΛΕΤΕ ΝΑ ΔΙΑΓΡΑΨΕΤΕ ΤΟΝ ΜΑΘΗΤΗ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onomateponimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onomateponimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eponimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eponimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mitronimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mitronimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaneladikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaneladikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearRegistry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearRegistry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxolia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxolia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ΔΙΑΓΡΑΦΗ" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-info">ΕΠΙΣΤΡΟΦΗ ΣΤΗΝ ΛΙΣΤΑ</a>
    </form>
</div>
