@model SindosDbAppweb.Models.Staff

@{
    ViewData["Title"] = "Delete";
}

<h1 class="pt-3">ΔΙΑΓΡΑΦΗ</h1>

<h3>ΕΙΣΤΕ ΣΙΓΟΥΡΟΙ ΟΤΙ ΘΕΛΕΤΕ ΝΑ ΤΟ ΔΙΑΓΡΑΨΕΤΕ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HmniaStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HmniaStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onomateponimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onomateponimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ADT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ADT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AMKA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AMKA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Web)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Web)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fek_Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fek_Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scientific_Object)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scientific_Object)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fek_Object)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fek_Object)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxolia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxolia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ΔΙΑΓΡΑΦΗ" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-info">ΕΠΙΣΤΡΟΦΗ ΣΤΗΝ ΛΙΣΤΑ</a>
    </form>
</div>
